body {
    margin: 0;
    padding: 0;
    background: #111;
}

#wrapper {
    width: 1280px;
    height: 720px;
    margin: 30px auto;
    position: relative;
    -webkit-perspective: 2000;
}

#viz {
    position: absolute;
    width: 1280px;
    height: 720px;
    border: 1px solid #333;
    -webkit-transform-style: preserve-3d;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.5s;
}

#viz.flipped {
    -webkit-transform: rotateX(180deg);
}

.side {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    -webkit-backface-visibility: hidden;
    background-color: black;
}

.front {
}

.back {
    -webkit-transform: rotateX(180deg);
}

#desc {
    width: 1280px;
    margin: 30px auto;
    color: #fff;
}

#video {
  display: none;
}

#options {
  padding: 20px;
}

a {
    color: #fff;
}

h1 {
    font-size: 50px;
}

h1, h2, h3 {
    font-family: "League Gothic";
    font-weight: normal;
    color: #fff;
}

h2 {
  margin: 0 0 10px 0;
  border-bottom: 1px solid #111;
  padding-bottom: 10px;
  font-size: 40px;
}

h3 {
    color: #aaa;
    font-size: 25px;
    margin-top: 0;
}

p {
    font-family: "CMU Bright";
    font-size: 12px;
}

.block {
    float: left;
    width: 300px;
    margin-right: 30px;
}

#presets {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#presets li {
    height: 30px;
    margin: 10px;
    -webkit-border-radius: 15px;
    padding-left: 15px;
    background-color: #333;
    font-family: "League Gothic";
    line-height: 30px;
    color: #fff;
}

@font-face {
    font-family: "League Gothic";
    src: url("type/league_gothic.otf");
}

@font-face {
    font-family: "CMU Bright";
    src: url("type/cmunbmr.otf");
}

label {
    display: inline-block;
    width: 80px;
    margin-right: 10px;
    font-family: "CMU Bright";
    text-align: right;
    color: #fff;
}

#done {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

input[type='submit'] {
    border: none;
    padding: 5px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background: -webkit-gradient(linear, left top, left bottom, from(#797979), to(#434343), color-stop(0.5, #5e5e5e), color-stop(0.5, #505050));
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: rgba(0,0,0,0.5) 0px -1px 0px;
}

input[type='submit']:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#919191), to(#575757), color-stop(0.5, #747474), color-stop(0.5, #686868));
}

input[type='text'], select {
    border: none;
    padding: 3px;
    background-color: #333;
    color: #ffffff;
}
